.container {
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  gap: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.clock {
  margin: auto;
}

.form {
  margin: auto;
}